<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Output>TestResults/coverage.cobertura.xml</Output>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <IncludeBranchCoverage>true</IncludeBranchCoverage>

          <ExcludeByFile>
            **/*.xaml.cs,
            **/*.xaml,
            **/*.g.cs,
            **/*DTOs/*.cs,
            **/Entities/*.cs,
            **/Factory/*.cs,
            **/Extensions/*.cs,
            **/ViewModels/BaseViewModel.cs,
            **/Persistence/*.cs,
            **/Persistence/**/*.cs,
            **/Repositories/**/*.cs,
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
