name: Publish Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Restore
      run: dotnet restore

    - name: Publish
      run: dotnet publish src/App.UI/App.UI.csproj -c Release -o publish_output --no-restore

    - name: Zip output
      run: Compress-Archive -Path publish/* -DestinationPath MyApp-win-x64.zip

    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        files: publish_output/App.UI.exe
